* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.images-list {
    display: flex;
    flex-wrap: wrap;
}   

.images-list__item {
    border: 1px solid #bbb;
    list-style: none;
    padding: 10px; margin: 10px;
    max-width: 20%;
}

.images-list__item--prototype {
    display: none;
}

.images-list__item-name {
    font-weight: bold;
    text-align: center;
}

.images-list__item-img {
    max-width: 100%;
}

.images-list__item-size  {
    text-align: center;
}